name: CMake with emscripten

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
                  
    - name: Setup Emscripten toolchain
      uses: mymindstorm/setup-emsdk@v13
            
    - name: Configure CMake
      run: emcmake cmake -DPLATFORM=Web -S . -B ${{github.workspace}}/build

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build

    - run: mv ${{github.workspace}}/build/asteroids-jam.html ${{github.workspace}}/build/index.html

    - uses: actions/upload-artifact@v3
      with:
        name: artifact
        path: |
          ${{github.workspace}}/build/
          !${{github.workspace}}/build/_deps/
          
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: .
    - uses: actions/configure-pages@v2
    - uses: actions/upload-pages-artifact@v2
      with:
        path: .
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v2
